[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataMaid"]
	path = dataMaid
	url = https://github.com/ekstroem/datamaid
	shallow = true
	registered = true
[submodule "dataReporter"]
	path = dataReporter
	url = https://github.com/ekstroem/datareporter
	shallow = true
	registered = true
[submodule "MESS"]
	path = MESS
	url = https://github.com/ekstroem/mess
	shallow = true
	registered = true
[submodule "MethComp"]
	path = MethComp
	url = https://github.com/ekstroem/methcomp
	shallow = true
	registered = true
[submodule "networkR"]
	path = networkR
	url = https://github.com/ekstroem/networkr
	shallow = true
	registered = true
[submodule "socceR"]
	path = socceR
	url = https://github.com/ekstroem/soccer
	shallow = true
	registered = true
